[2017-01-25 17:57] RichardLitt opened #1 "Move Repositories to this organization"
I see the following repos:

- [x] orbit https://github.com/haadcode/orbit
- [x] orbit-bot https://github.com/haadcode/orbit-bot
- [ ] ~~orbit-common https://github.com/haadcode/orbit-common~~
- [x] orbit-core https://github.com/haadcode/orbit-core
- [x] orbit-crypto https://github.com/haadcode/orbit-crypto
- [x] orbit-db https://github.com/haadcode/orbit-db
- [x] orbit-db-counterstore https://gith

[2017-01-30 06:48] haadcode commented on #1
I've striked-through the ones that don't need to be included. For the others, there's some re-organizing to be done before they can be moved. This will be one of my goals for this sprint.

[2017-01-30 06:49] haadcode commented on #1
For `orbit-db-docstore`, we can ask @shamb0t if she'd be willing to transfer the original repo under this organization (https://github.com/shamb0t/orbit-db-docstore).

[2017-01-30 07:18] shamb0t commented on #1
Just tried to transfer to orbitdb but I think I need permission to create a repository @haadcode @RichardLitt

[2017-01-30 07:58] haadcode commented on #1
@shamb0t Thank you for jumping on it so quickly! I added you to the organization and you should be able to create repos now.

[2017-01-30 08:08] shamb0t commented on #1
Easy peasy happy to help. All done!

[2017-01-30 16:54] RichardLitt commented on #1
@shamb0t Made you an admin of that repo, again. You're the captain. I'll PR a README standardization - that OK with you?

[2017-01-30 18:51] shamb0t commented on #1
@RichardLitt like the sound of captain 😎 of course no problem!

[2017-01-30 18:52] RichardLitt commented on #1
(Also, off topic: @shamb0t wish you were in IRC! Would be good to say hi in person, as I am Montréal often).

[2017-01-30 19:01] shamb0t commented on #1
That would be cool @RichardLitt but I live in Barcelona now! IRC may be easier :D

[2017-01-30 19:42] RichardLitt commented on #1
@shamb0t Ah! Great. I'll check in when I am there this summer. :)

[2017-01-30 19:42] RichardLitt commented on #1
@haadcode these are all yours now. Assigning you, waiting for the arrival of these in the org.

[2017-02-06 16:23] haadcode commented on #1
Started the work before the weekend. I've been mainly working on splitting the code base of haadcode/orbit (the main repo, which will work as a landing page in the future for this org) and added two new repos:
- https://github.com/orbitdb/orbit-web
- https://github.com/orbitdb/orbit-electron

Transferred (and updated docs):
- https://github.com/orbitdb/orbit-core
- https://github.com/orbitdb/orbit

[2017-02-08 15:12] RichardLitt commented on #1
@haadcode Can I help more?

[2017-03-21 10:52] haadcode opened #2 "Chat about orbit-db and CRDTs"
Me and @diasdavid were discussing on IRC that it would be good to sync with @pgte on orbit-db and specifically about CRDTs. We decided Thursday the 23rd (this week) would be a good day to do that.

@pgte when would be a good time for you on Thursday? Best for me would be in the morning, 9 UTC to 12 UTC, but I can also do 15 UTC. I think we should timebox this for an hour. Let me know your availabi

[2017-03-21 11:02] pgte commented on #2
Thursday, any time from 9 to 12 UTC is good for me. Let's say 10 to 11am UTC?

[2017-03-21 12:46] haadcode commented on #2
10 to 11am UTC it is 👍 Looking forward to it!

[2017-03-22 11:01] victorb commented on #2
I'll participate as a listener, sounds interesting :)

[2017-03-22 17:51] haadcode commented on #1
All repos have now been transferred to https://github.com/orbitdb. Let me know if there are any problems with access rights, etc.

Thank you everyone for their work on the repos while they were under my account and getting Orbit this far together. We're still just getting started :) Here's to a great future to orbitdb organization and all its projects! 🍾

✌️

[2017-03-22 17:51] #1 closed, assigned to haadcode

[2017-03-22 18:12] RichardLitt commented on #1
Woot.

[2017-03-23 10:01] haadcode commented on #2
Zoom link for the call: https://zoom.us/j/365100598

[2017-03-23 10:50] haadcode commented on #2
Call was had, thoughts exchanged and next steps identified. Closing this issue, but feel free to re-open it or post notes here.

[2017-03-23 10:50] #2 closed, assigned to nobody

[2017-03-23 14:38] daviddias commented on #2
Thank you all :)

@haadcode could you please update https://github.com/ipfs/research-CRDT with all the papers you have about the topic?

[2018-07-09 17:14] RichardLitt opened #4 "Move repositories from @haadcode to @orbitdb"
In a private discussion, we went over these repositories and wrote some brief notes on these repositories under @haadcode's namespace. There are a few repositories in @haadcode that might be better placed in @orbitdb, a few which would be better off deleted or archived, and some more which can just stay where they are.

@haadcode: Can you take a look at these, perform the appropriate action, and t

[2018-07-09 17:16] RichardLitt commented on #4
While we're at it, can you take a look at **[example-orbitdb-todomvc](https://github.com/orbitdb/example-orbitdb-todomvc)** (Quote: "Someone is working on this. We should support that!") and **[orbitdb-orbit-crypto](https://github.com/orbitdb/orbitdb-orbit-crypto)** (Quote: "May not be used by anything. Needs to be checked by @haadcode.")? Thank you.

[2018-07-09 17:35] RichardLitt opened #5 "Orbitdb or Orbit-DB?"
I can't figure out whether we should call it orbitdb or orbit-db. Is there a preference for one over the other? What about capitalization?

[2018-07-09 17:51] RichardLitt opened #6 "Change licenses for everything"
The license right now is for PL. We should probably license it under Haja from here on out. Dual licensing shouldn't be a problem: @haadcode you OK with that?

[2018-07-09 17:56] RichardLitt opened #7 "Clarify who orbitdb/maintainers are"
Right now, @orbitdb/maintainers goes to @VictorBjelkholm and @diasdavid and @dignifiedquire, which is great (hi guys 👋), but I don't think they are actually maintaining this anymore.

Do you guys want to stay as the maintainers, or are you OK if we remove you from that team?

[2018-07-09 20:35] RichardLitt opened #8 "Move this repo to https://github.com/orbitdb/orbit"
I think it might make sense to destroy this repository, and to use https://github.com/orbitdb/orbit as the welcome repo.

## Why do this?

- This repo is relatively new; that one has far more watchers and stars who might be interested in seeing the org grow.
- There's no code there anymore, but there's a ton of issues which aren't getting attention. We can go through and close those or transfer th

[2018-07-09 23:02] dignifiedquire commented on #7
Hey Richard :)

Fine to remove me, I am not maintaining things currently here

[2018-07-10 13:06] haadcode commented on #5
OrbitDB

[2018-07-10 13:30] RichardLitt commented on #8
Let's not do this. Orbit is for Orbit Chat; this is for OrbitDB. When we rename Orbit Chat and move it to it's own org, it would be the new welcome repo there. For now, leave it alone.

[2018-07-10 13:30] #8 closed, assigned to nobody

[2018-07-10 14:40] RichardLitt opened #9 "OrbitDB Logo"
I had my friend Pablo whip up some logo designs for us. These are from the second iteration; what do you think? Any and all comments are welcome.

[Haja_Orbit_v2.pdf](https://github.com/orbitdb/welcome/files/2180831/Haja_Orbit_v2.pdf)

There are three versions here.

Personally, I'm a fan of the middle one the most, I think.

[2018-07-10 14:52] RichardLitt opened #10 "Code of Conduct"
I want to implement [the Contributor Covenant Code of Conduct](https://www.contributor-covenant.org/). I'll add it to this repository, and then link it on all of the @orbitdb repositories.

I need an email to put in the code of conduct. I'm happy to put my email, but I think we should also have another email - for instance, `community@orbitdb.io` or something. @haadcode Can you think of an appropr

[2018-07-10 19:30] daviddias commented on #7
Go ahead 👍

[2018-07-11 13:33] RichardLitt commented on #7
Done. @VictorBjelkholm, any thoughts? :)

[2018-07-12 15:16] victorb commented on #7
I'm fine with being removed as well :)

[2018-07-12 15:16] RichardLitt commented on #7
Thanks all. :)

[2018-07-12 15:17] #7 closed, assigned to nobody

[2018-07-12 15:21] RichardLitt commented on #10
I've set up `coc+orbit@maintainer.io` for this purpose, going forward. However, we should also have an orbit email.

[2018-07-12 15:46] ghost opened #11 "orbit.chat domain"
I still have orbit.chat - let me know where to move it. I'll keep renewing it until then :)

[2018-07-13 08:22] vvp commented on #9
They all look great! Comments about different versions :
- First one - Text in one line, which I personally love but it makes hexagonal logos a bit too compact.
- Second one - "orbit" and "db" in separate lines makes hexagonal logos more readable vs first one. I do wonder why "db" is in smaller font (are we more orbit than db? :slightly_smiling_face: )
- Third one - "orbit" and "db" in separate li

[2018-07-13 16:06] RichardLitt opened #12 "Orbit Weekly Call: Tuesday July 24th"
Drop your agenda items here for the **July 24th 1300 UTC** community call for Orbit.

Call details:

Join from PC, Mac, Linux, iOS or Android: https://zoom.us/j/301508631
Or iPhone one-tap : US: +19294362866,,301508631# or +16699006833,,301508631#
Or Telephone: Dial(for higher quality, dial a number based on your current location): US: +1 929 436 2866 or +1 669 900 6833 Meeting ID: 301 508 631   I

[2018-07-17 20:01] RichardLitt commented on #9
Thanks @vvp :)

I want to wrap this up; I am planning to close this to comments and to pick based on this feedback and other's thoughts next Tuesday during the weekly call. I think that makes the most sense. I've given Pablo feedback, and we may have more iterations by then, too, which we can talk over.

[2018-07-18 14:48] haadcode commented on #9
*(for context, I've given feedback on this earlier, but adding my comments here for public discussion)*

I really like the overall design! 👍❤️

- As per previous discussions offline, I'd still want to see color variations. While I like the orange scheme, I feel from communication perspective, we should try out a red/pink-ish/magenta-ish color: as we're on the "interplanetary" theme, and have talke

[2018-07-24 12:29] haadcode commented on #12
Let's take notes here: https://hackmd.io/ES1sA5hnSQKvYKLmKYv8bA

Call in 30mins!

[2018-07-24 12:38] RichardLitt commented on #9
Got an iteration back! Still need some color variations, though.

<img width="524" alt="screen shot 2018-07-24 at 08 38 33" src="https://user-images.githubusercontent.com/910753/43138473-fa9070f0-8f1c-11e8-9170-f271e8f657ed.png">

[2018-07-24 13:32] RichardLitt commented on #12
# orbit-db community call

date: Tue 24th of July, 2018
notetaker: @coyotespike
moderator: @RichardLitt

## participants
- @RichardLitt
- @haadcode
- @thiagodelgado111
- @vvp
- @shamb0t
- @sirfumblestone
- @coyotespike

## agenda
- Video?
    - It's pretty uncomfortable to
    - TODO: @RichardLitt will write down reasons not to video in an issue the community repo. Policy is now not to, by unanimo

[2018-07-24 13:38] #12 closed, assigned to nobody

[2018-07-24 13:40] RichardLitt opened #13 "Orbit Community Call: August 7 2018 1300UTC"
### • [Click here for the agenda and notes](https://hackmd.io/T73Z5fxSTGiHTqHHRZyztA#)

This will be the next Orbit community call, at 1300UTC on August 7th. Drop your agenda items here  or [in the notes](https://hackmd.io/T73Z5fxSTGiHTqHHRZyztA#).

Join from PC, Mac, Linux, iOS or Android: https://zoom.us/j/784309963

Or iPhone one-tap :
    US: +19294362866,,784309963#  or +16699006833,,78430996

[2018-07-24 13:52] thiagodelgado111 commented on #9
I like option 1 :)

[2018-07-24 14:00] coyotespike commented on #9
I would rank these designs, starting with my favorite: 3, 1, original, 2. You could also mix and match, maybe the large planet and text from 2, and the smaller shapes from 3.

[2018-08-01 12:10] RichardLitt commented on #9
We have some new colors! What do you all think?

[Haja_Orbit_v3_2.pdf](https://github.com/orbitdb/welcome/files/2249349/Haja_Orbit_v3_2.pdf)

[2018-08-01 13:36] haadcode opened #14 "Contribution guidelines"
We should create a contribution guidelines for the OrbitDB projects.

In the past, we only had one or a handful of contributors and keeping code, docs and "git workflow" consistent wasn't much of an issue. As the community is growing, it'd be good to codify the guidelines, to make it easier to a) know how a contribution should look like and b) for maintainers to point to the guidelines to keep con

[2018-08-01 15:07] RichardLitt commented on #14
@sirfumblestone I think you're working on this at the moment, right?

[2018-08-02 14:46] sirfumblestone commented on #14
Yes I did. I went through the contribution document originally made by PL. However it needs updated OrbitDB contact addresses and the PR guidelines @haadcode mentioned. And for that I think e.g. you @RichardLitt might have better insight than me :)

[2018-08-02 15:26] RichardLitt commented on #9
In the interest of moving this forward: I'm going to finalize the logo end of day tomorrow. Votes and thoughts here will factor into that, and I'll try to be impartial. At the moment, I'm in favor of #5 from the new ones. :)

[2018-08-02 16:00] sirfumblestone commented on #9
My vote goes to the deep red number 5 🤘

[2018-08-02 16:59] thiagodelgado111 commented on #9
From the new batch, I like 4 and 5

[2018-08-07 17:38] RichardLitt commented on #13
# Notes.

date: Tue 7th of August, 2018
notetaker: @RichardLitt
moderator: @RichardLitt

## participants
- @RichardLitt
- @huy
- @vvp
- @coyotespike
- @shamb0t

## agenda
- @haadcode is on vacation \o/
- Go over last week's notes
    - Nothign to report
- Shams and Thiago are working on the ACL
    - The identity manager creates links between foreign ids and orbitdbs, and handles signing and verif

[2018-08-07 17:38] #13 closed, assigned to nobody

[2018-08-07 17:39] RichardLitt opened #16 "Orbit Community Call: August 21 2018 1300UTC"
### • [Click here for the agenda and notes](https://hackmd.io/QEh5TCZlQJGsBHc4lYUEhQ#)

This will be the next Orbit community call, at 1300UTC on August 21st. Drop your agenda items here  or [in the notes](https://hackmd.io/QEh5TCZlQJGsBHc4lYUEhQ#).

Join from PC, Mac, Linux, iOS or Android: https://zoom.us/j/784309963

Or iPhone one-tap :
    US: +19294362866,,784309963#  or +16699006833,,7843099

[2018-08-08 20:47] RichardLitt commented on #9
Alright! Friday came and passed; I had some more feedback off-issue, and now we have another round of iterations. :)

[Haja_Orbit_v3_2_red.pdf](https://github.com/orbitdb/welcome/files/2271949/Haja_Orbit_v3_2_red.pdf)

See the final page for color and `r` differences. What do ya'll think?

[2018-08-14 18:24] #5 closed, assigned to nobody

[2018-08-14 18:25] RichardLitt commented on #6
Done. I've committed all changes directly for 25 repositories, because opening up PRs for all of them wouldn't have benefited anyone.

[2018-08-14 18:25] #6 closed, assigned to nobody

[2018-08-19 17:24] IbbyBenali commented on #9
@RichardLitt I like them :) I was actually just looking for some logos of OrbitDB, glad to see that there will also be logo's with the text "orbitdb". I have one suggestion, maybe also create black and white options in addition as specifically these may sometimes be needed (e.g. greyed out logo displays on websites, or perhaps black and white prints).

[2018-08-21 12:56] RichardLitt opened #17 "Use sprint-bot to automatically set up the biweekly calls"
See https://github.com/ipfs/sprint-helper.

This should take some effort. The code has changed since I last wrote it (thanks, @VictorBjelkholm), but it shouldn't be too hard to jerry-rig for this community.

[2018-08-21 13:38] RichardLitt commented on #16
# Orbit community call

date: Tue 21st of August, 2018
notetaker: @RichardLitt
moderator: @shamb0t

## Participants
- Richard (@RichardLitt)
- Shams (@shamb0t)
- Huy (@huyhoangCSUH)
- Tim (@coyotespike)

## Agenda
- Haad and Thiago are feeling under the weather, we think, so just us today.
- @RichardLitt: Update on acl work (@thiago, @shamb0t)?
    - https://github.com/orbitdb/ipfs-log/pull/145

[2018-08-21 13:38] #16 closed, assigned to nobody

[2018-08-21 13:40] RichardLitt opened #19 "OrbitDB Community Call: September 4th"
### • [Click here for the agenda and notes](https://hackmd.io/nWZbZkCTRBaGzZtq_e9wAw)

This will be the next Orbit community call, at 1300UTC on September 4th. Drop your agenda items here or in the notes.

Join from PC, Mac, Linux, iOS or Android: https://zoom.us/j/784309963

Or iPhone one-tap :
    US: +19294362866,,784309963#  or +16699006833,,784309963#
Or Telephone:
    Dial(for higher quality

[2018-08-21 13:45] RichardLitt opened #20 "Introducing the orbitdb.org domain"
We now have the orbitdb.org domains. We'll be using this for emails (such as security@orbitdb.org) and calendars, in particular. Don't bother clicking it at the moment; there's nothing there.

Any questions, concerns, or comments are welcome. :)

[2018-08-28 16:47] RichardLitt opened #22 "Repository templates"
I'd be happy to set up a repository template to make it easier to clone new repositories. Looking at https://github.com/orbitdb/orbit-db-identity-provider, there's some work that I could see that would immediately be useful; and rather than having me PR repos after they're made, or all of the orbitdb maintainers needing to remember what to do when creating them, I think a template might help out.

[2018-08-28 17:16] shamb0t commented on #22
I think a template could be useful :+1:

[2018-08-29 14:04] RichardLitt commented on #22
Alright! I've started work on one, here: https://github.com/orbitdb/repo-template. There are a few things that could be fixed, but in general, this should work pretty well to get going easier.

Let me know what you think!

[2018-09-05 07:30] shamb0t commented on #19
## Notes
- **Moderator:** @RichardLitt
- **Notetaker:** @shamb0t

 **Attendees:**
- @shamb0t
- @RichardLitt
- @Berre74

## Moderator checklist

- [x] Ensure that the moderator last week is the notetaker, or that someone else has volunteered
- [x] Call for additional agenda items

## Agenda
_General discussions, decisions, etc._

- npm org @orbitdb (@RichardLitt, 2)
- Huy @ Colony: PR on docstore a

[2018-09-05 07:30] #19 closed, assigned to nobody

[2018-09-05 17:15] RichardLitt opened #25 "OrbitDB Community Call: September 18th"
### • [Click here for the agenda and notes](https://hackmd.io/KULr_fO0TWqBbj-63jMkUg#)

This will be the next Orbit community call, at 1300UTC on September 4th. Drop your agenda items here or in the notes.

Join from PC, Mac, Linux, iOS or Android: https://zoom.us/j/784309963

Or iPhone one-tap :
    US: +19294362866,,784309963#  or +16699006833,,784309963#
Or Telephone:
    Dial(for higher qualit

[2018-09-05 18:12] RichardLitt opened #27 "The @orbitdb npm org"
I've set up the [@orbitdb](https://www.npmjs.com/org/orbitdb) organization on npm. This will allow us to publish packages easier from multiple contributors, and do key management easier. Currently you can publish scoped packages from npm orgs. This means that packages published from @orbitdb will look like `@orbitdb/eslint-config-orbitdb`. The duplication of `orbitdb` aside (this is getting ridicu

[2018-09-05 18:13] RichardLitt commented on #27
Ah; forgot to say. Another option is that we can publish any package from our personal accounts, and then email npm to have them transfer the package to the org. This would remove the need to publish the packages as scoped packages, removing the need for the `@orbitdb/` at the beginning of the package name. This may be another good option.

[2018-09-06 14:12] RichardLitt opened #28 "Gitter!"
👋 To make chatting in public easier, we've opened up some Gitter chatrooms for OrbitDB.

https://gitter.im/orbitdb/Lobby

We already have IRC, but due to recent issues with spam, and due to a barrier to entry for people who do not have their own IRC clients and who are unfamiliar with how IRC works, it is most likely not the best option for a welcoming community of people who want to work on Orbit

[2018-09-06 14:16] #22 closed, assigned to RichardLitt

[2018-09-10 01:28] RichardLitt commented on #28
Closed in #facfbef. :D

See you all on Gitter! 👋

[2018-09-10 01:28] #28 closed, assigned to nobody

[2018-09-14 21:37] pabslabs commented on #9
Hey! Here's the guidelines document of the logo. I added recommendations of use and some colour and position variations. I included a small description and the CC-BY-SA License too.
This PDF can be open in Adobe Illustrator to edit it the vector logo and variations.
Let me know what you think.
[orbit_db_guidelines.pdf](https://github.com/orbitdb/welcome/files/2384973/orbit_db_guidelines.pdf)

[2018-09-18 13:37] RichardLitt commented on #25
# OrbitDB Community Call September 18

- **Moderator:** @shamb0t
- **Notetaker:** @RichardLitt
- **Attendees:**
    - @RichardLItt
    - @shamb0t
    - @haadcode
    - @claus
    - Randall
    - Joel @oed

## Agenda
- orbitdb org access hygiene: clean up access rights (@haadcode)
    - @RichardLitt: I've contacted them. I'll just remove them now and follow up. (Done.)
- new project announcements:

[2018-09-18 13:38] #25 closed, assigned to RichardLitt

[2018-09-19 11:12] haadcode commented on #9
Thank you @pabslabs for jumping in and posting the new versions!

I think the guidelines and the logo are great and the fact that this gets open sourced is ❤️

I like the (main) red color, but seeing them now in finalized form all at once, I personally would like the first color variation (first from the top on the last page) as the default and the pink one (second variation) is really cool too :)

[2018-09-20 20:10] RichardLitt commented on #9
I frankly [can't see red shades](https://en.wikipedia.org/wiki/Color_blindness) all that well. I'm going to recuse myself from color considerations.

I prefer the white `db`.

[2018-09-21 16:25] pabslabs commented on #9
Hey, I see what you mean, the two colour options are very similar, the main logo is a bit more orange/red while the first variation is more red/magenta. I personally prefer the more orange/red version. I think is closer to a real planet's colour.

For the back textures, it's all about the contrast on each situation, when the background gets darker is time to use the white version. I made some more

[2018-09-26 14:42] RichardLitt commented on #10
See #31.

[2018-09-26 14:43] RichardLitt commented on #11
@haadcode Do we have a company host account? Gandi? Should we set one up?

[2018-09-26 14:43] #20 closed, assigned to nobody

[2018-09-26 16:08] ghost commented on #11
Easiest for the PL->Haja transfer would be if you open a Gandi account, then the transfer is instantly, and you can then move it anywhere without having to coordinate with me

[2018-09-27 15:00] RichardLitt opened #32 "Community Calendar"
I'm attempting to set up a community calendar for us all to use, specifically for conferences, community calls, and other date-based events. I believe I might have gotten it with this:

https://calendar.google.com/calendar?cid=b3JiaXRkYi5vcmdfb2xrcWlyanFvazZwdGJuNnAxcGVrdmQyZ29AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ

However, you may need Google to sign in, which isn't ideal. Does this work for you?

[2018-09-27 18:51] RichardLitt opened #33 "OrbitDB Community Call: October 2nd"
### [Click here for the agenda and notes.](https://hackmd.io/N9upLvCJR9ezYeCJgDzDng#)

This will be the next Orbit community call, on October 2nd at 1300UTC! Drop your agenda items here or in the notes.

Add this event to your calendar using [this link](https://calendar.google.com/event?action=TEMPLATE&tmeid=Xzg0cmowZTloNjRwMzZiOW42ZDBqMGI5azhrc2tjYjlwOG9zM2FiYTM4a3I0OGVhMTc0cGo2ZGhtOG9fMjAxODEwMD

[2018-09-28 21:06] pabslabs commented on #9
Hello!
Here's a new version of the guidelines document. I changed the main version of the logo for the more red, less orange option. Let me know what you think.
Thanks!
Pablo
[orbit_db_guidelines02.pdf](https://github.com/orbitdb/welcome/files/2429749/orbit_db_guidelines02.pdf)

[2018-10-01 00:55] haadcode commented on #11
@lgierth I have setup account on Gandi, will ping you in PM to handle the transfer. Thank you for keeping the domain (and being willing to transfer the custody)! ❤️

[2018-10-02 13:15] RichardLitt commented on #33
# OrbitDB Community Call October 2

- **Moderator:** @vvp
- **Notetaker:** @RichardLitt
- **Attendees:**
- @haadcode
- @RichardLitt
- @vongohren
- @vvp

## Agenda
- Suggested Code of Conduct: [welcome#10](https://github.com/orbitdb/welcome/issues/10) (@RichardLitt, 5 minutes)
- @haadcode: Snorre, Regarding PubSub, there's no plans to change it. It's one of the key components regarding how data get

[2018-10-02 13:15] #33 closed, assigned to nobody

[2018-10-02 14:22] haadcode commented on #32
Works for me.

[2018-10-17 04:04] RichardLitt opened #34 "OrbitDB Community Call: Tuesday October 30"
### [Click here for the agenda and notes.](https://hackmd.io/6M1hUzrtTR2q_E3S0BagPw#)

This will be the next Orbit community call, on October 2nd at 1300UTC! Drop your agenda items here or in the notes.

Add this event to your calendar using [this link](https://calendar.google.com/event?action=TEMPLATE&tmeid=Xzg0cmowZTloNjRwMzZiOW42ZDBqMGI5azhrc2tjYjlwOG9zM2FiYTM4a3I0OGVhMTc0cGo2ZGhtOG9fMjAxODEwMD

[2018-10-20 14:19] abh1manyu commented on #32
Works for me as well!

[2018-10-22 09:32] haadcode commented on #34
I'd reckon doing the next one on regular schedule, is. no call this week and one next week.

[2018-10-22 10:55] shamb0t commented on #34
I won't be able to join this week

[2018-10-22 11:09] vvp commented on #34
I suggest we just keep the original schedule - so the next call would be Tue 30th at the regular time. Less rescheduling the better :slightly_smiling_face:

[2018-10-22 13:47] #32 closed, assigned to nobody

[2018-10-22 14:23] RichardLitt commented on #34
Alright. Let's stick with next week, then! See you all in next Tuesday. :)

[2018-10-23 13:03] RichardLitt commented on #34
Added a template for notes. Please update the agenda with what you'd like to talk about, ya'll. :)

[2018-10-24 08:10] haadcode commented on #9
@pabslabs apologies for the delay in answering! @RichardLitt pinged me on this and had completely missed your previous message with the latest updates to the logo.

I'm happy with it now and the latest version addresses the issues raised earlier. Thank you @pabslabs for creating this and sharing with the community! ❤️🎉

I'd be glad if we started using it throughout the community (eg. on Github pag

[2018-10-24 08:16] RichardLitt commented on #9
Awesome. :) @pabslabs Can you upload some different formats of the final version, so it's not just in a PDF?

[2018-10-24 16:05] pabslabs commented on #9
Hello @RichardLitt and @haadcode !
Thanks for the message, I am glad you like it! I'm going to produce more formats of the logo (JPG, PNG, EPS, AI...) and upload them here. Is it OK if I upload a zip with everything?
Cheers!

[2018-10-24 17:02] RichardLitt commented on #9
A zip works. If you want to learn how to use GitHub, you could upload it into a repo too. :)

[2018-10-25 15:47] pabslabs commented on #9
OK! I am going to try to create the repository and upload the files there.
I'll let you know how it goes :)

[2018-10-26 15:52] pabslabs commented on #9
I think I did it... but I am not sure.
I created a repository and put some files in it. Does this work? Should I add you as contributors too?
https://github.com/pabslabs/OrbitDB-logotype

[2018-10-27 08:01] RichardLitt commented on #9
That's pretty much perfect. :) All good!

[2018-10-30 08:05] haadcode commented on #34
Note the time due to the daylight savings switch over the weekend! **1300 UTC**

[2018-10-30 09:23] jarbacoa commented on #34
Would much appreciate a recording of this community call!

[2018-10-30 10:12] RichardLitt commented on #34
@sharad-s  We do not record these calls, as we want people to feel comfortable joining in and talking without worrying about being recorded. We hope you can make it to be there with us - you don't need to have your mic or camera on. If you can't, we generally have good notes. :)

[2018-10-30 13:33] shamb0t commented on #34
Notes posted [here](https://github.com/orbitdb/welcome/blob/93d7497fc111b8929677051a48eca85e4960945d/meeting-notes/2018/2018.10.30.md)

[2018-11-05 16:09] RichardLitt opened #35 "OrbitDB Community Call: Tuesday November 13"
### [Click here for the agenda and notes.](https://hackmd.io/Ky75XbELSAu6wb0BaKwOzA#)

This will be the next Orbit community call, on November 13 at 1300UTC! Drop your agenda items here or in the notes.

Add this event to your calendar using [this link](https://calendar.google.com/event?action=TEMPLATE&tmeid=Xzg0cmowZTloNjRwMzZiOW42ZDBqMGI5azhrc2tjYjlwOG9zM2FiYTM4a3I0OGVhMTc0cGo2ZGhtOG9fMjAxODEwMD

[2018-11-05 16:09] #34 closed, assigned to nobody

[2018-11-07 14:57] RichardLitt commented on #9
We... have a logo?

[2018-11-13 14:40] shamb0t commented on #35
Notes [here](https://github.com/orbitdb/welcome/blob/master/meeting-notes/2018/2018.11.13.md)

[2018-11-13 16:16] RichardLitt opened #36 "OrbitDB Community Call: Tuesday November 27"
### [Click here for the agenda and notes.](https://hackmd.io/xsN1iDNwSwOAUavATfvxJw#)

This will be the next Orbit community call, on November 27 at 1300UTC! Drop your agenda items here or in the notes.

Add this event to your calendar using [this link](https://calendar.google.com/event?action=TEMPLATE&tmeid=Xzg0cmowZTloNjRwMzZiOW42ZDBqMGI5azhrc2tjYjlwOG9zM2FiYTM4a3I0OGVhMTc0cGo2ZGhtOG9fMjAxODEwMD

[2018-11-13 16:17] RichardLitt commented on #35
Thanks @shamb0t. Feel free to reference this issue number and close the issue out when adding the commit in the future. :)

[2018-11-13 16:17] #35 closed, assigned to nobody

[2018-11-14 18:02] bgbruno opened #37 "Concept"
Hello OrbitDB,

I read and watch #ipfs and I very like this working idea - I looking for "a private implementation" so data from my service will be available only on my servers across continents

Q I understand it right and #orbitdb just connect to already prepared #ipfs service <> or is in #orbitdb some security layer ?

thx

[2018-11-14 18:09] aphelionz commented on #37
@bgbruno Access management is currently set at database creation time using the keypair provided by the underlying IPFS node. We are working on finer grained control over that as we speak.

In the meantime, if you're still in early phases of your product, one thing you can try is to set up a private IPFS cluster - one that doesn't automatically swarm and peer with other nodes that _aren't_ in the

[2018-11-15 12:12] bgbruno commented on #37
management is currently set ... using the keypair provided by the underlying IPFS node
Q thx @aphelionz pls what it means - that means data is swarmed on "public ipfs servers" but encrypted - and that is "based feature of ipfs"?

We are working on finer grained control over that as we speak.
Q great - means "more users on objects"?

one thing you can try is to set up a private IPFS cluster
yap I'm

[2018-11-15 12:56] aphelionz commented on #37
It only means that the identity of your entries is the public key of the IPFS node writing them. It is not encrypted by default. If your node is public, it will swarm with othrer peers

Short answer: Yes

The private network is the nuclear option, it's an experimental feature of IPFS currently, as per the link I
sent above. IPFS nodes are public default

[2018-11-20 08:06] bgbruno commented on #37
that the identity of your entries ... It is not encrypted by default
OK thx

If your node is public, it will swarm with othrer peers
thx

more users on objects" ... Yes
great

The private network is the nuclear option ... nodes are public default
Q pls @aphelionz why you think it's "nuclear option" ?

it's an experimental feature
yap I know - personally I'm highly interested in

[2018-11-26 17:10] aphelionz commented on #37
@bgbruno I call it a nuclear option because by creating a private IPFS network, you are effectively creating a sub-separate space that is not connected to the global IPFS network - so you have to weigh the pros and cons there.

[2018-11-27 14:49] shamb0t commented on #36
Notes [here](https://github.com/orbitdb/welcome/blob/master/meeting-notes/2018/2018.11.27.md)

[2018-11-27 14:49] #36 closed, assigned to nobody

[2018-11-27 15:02] RichardLitt opened #38 "OrbitDB Community Call: Tuesday December 11, 1400UTC"
### [Click here for the agenda and notes.](https://hackmd.io/FdFIc6V_TKu6VqCp2ANvZQ#)

This will be the next Orbit community call, on December 11 at 1400UTC! Drop your agenda items here or in the notes. **Note that this is an hour later than the last call.**

Add this event to your calendar using [this link](https://calendar.google.com/event?action=TEMPLATE&tmeid=Xzg0cmowZTloNjRwMzZiOW42ZDBqMGI5az

[2018-11-27 15:10] RichardLitt commented on #36
Thanks, @shamb0t.

[2018-11-30 21:26] tyleryasaka commented on #38
The calendar link doesn't match the date/time listed here.

[2018-11-30 22:45] RichardLitt commented on #38
I changed it. Hmm. Sorry about this! Will look at it in a couple of hours
when I’m back home. Thanks for pointing this out!

On Friday, November 30, 2018, Tyler Yasaka <notifications@github.com> wrote:

--
Richard | @richlitt <https://twitter.com/richlitt> | burntfen.com
<http://www.burntfen.com>

[2018-12-01 13:02] RichardLitt commented on #38
It should be the same time? I just checked again, and I see it as 9am EST, which is 2pm UTC.

[2018-12-01 22:01] tyleryasaka commented on #38
Sorry, not sure why I thought the time was wrong. Just the date:

<img width="451" alt="screen shot 2018-12-01 at 2 00 14 pm" src="https://user-images.githubusercontent.com/6504519/49333317-84079880-f571-11e8-864c-cbfef48dca96.png">

On second glance, the problem is that the event stops repeating December 10, even though the call is on December 11. (Should be December 11 in both UTC and pacific ti

[2018-12-03 00:20] bgbruno commented on #37
nuclear ... because ... you are ... creating a sub-separate space ... not connected to the global IPFS network
ah I see how you mean that @aphelionz now - you know I want safely store data, so for sure to separate network, that is why I think about "private ipfs" - because if I understand it right when I use "global ipfs" I have to encrypt that data for security and decrypt only on client devices,

[2018-12-03 01:06] aphelionz commented on #37
@bgbruno

That's exactly right. If you send something to an IPFS node in the global network, theoretically anybody can distover it.

[2018-12-03 01:19] aphelionz commented on #37
Closing this issue for now - feel free to reopen or start a new thread if you have more questions :)

[2018-12-03 01:19] #37 closed, assigned to nobody

[2018-12-03 01:42] aphelionz commented on #11
@haadcode @RichardLitt Can this be closed?

[2018-12-03 12:19] RichardLitt commented on #38
Where are you seeing that? I see it continuing indefinitely. This is odd.

[2018-12-03 12:34] RichardLitt commented on #11
I'm not sure if Lars has transferred it over yet. :)

[2018-12-03 22:48] tyleryasaka commented on #38
Hmm weird. That's how it shows on my my google calendar. 🤷‍♂️

[2018-12-04 13:21] RichardLitt commented on #38
That is truly bizarre. Can you try resubscribing to the OrbitDB calendar?

[2018-12-04 20:26] tyleryasaka commented on #38
I deleted the event and re-added. Same result. idk what's going on - maybe it's just my machine 🤷‍♂️ . Regardless, easy fix and I'm planning to join. 😄

[2018-12-04 20:42] RichardLitt commented on #38
I'll flag it as something to keep an eye on in the future. If this happens with anyone else, we'll move to another service.

[2018-12-09 04:43] ghost commented on #11
It's not transferred yet! cc @eefahy

It's in a Gandi account, and @haadcode made a Gandi account too (intra-registrar ownership change is much simpler than inter-registrar). The account it's in hasn't been upgraded to Gandi v5 yet, which made the transfer confusing to me, and then I got distracted with other stuff.

[2018-12-10 15:06] RichardLitt commented on #11
So... @lgierth Do you need something from us?

[2018-12-10 17:21] eefahy commented on #11
@RichardLitt I'll take care of it. I need your gandi account handle to transfer to.

[2018-12-11 06:48] nuke-web3 opened #41 "calendar link broken"
In the readme - https://github.com/orbitdb/welcome/blob/master/calendar.google.com/calendar?cid=b3JiaXRkYi5vcmdfb2xrcWlyanFvazZwdGJuNnAxcGVrdmQyZ29AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ

this 404s.

Do you still hold open meetings?

[2018-12-11 06:53] nuke-web3 commented on #41
:man_facepalming:  #38  - might be too far off time wise to make this one - the link is still an issue though. and the calendar link in #38 expires recurring 12/10/18.
Looking forward to meeting you all!

[2018-12-11 07:18] haadcode commented on #11
@eefahy thanks! You can transfer it to my account "haad" on Gandi.

[2018-12-11 11:21] haadcode commented on #38
~~There's a mismatch for me too: the issues here says 1400 UTC whereas the calendar shows 1500 UTC. Did we get bitten by daylight savings again at some point?~~

[2018-12-11 11:23] haadcode commented on #38
Ignore my previous comment, my calendar was in the wrong timezone! :)

[2018-12-11 13:36] #41 closed, assigned to nobody

[2018-12-11 13:37] RichardLitt commented on #41
Thanks for pointing that out; works for me now. Let me know if it is still broken!

Think I may have a fix for the recurring link. Will work on it.

[2018-12-11 13:51] RichardLitt commented on #41
I believe the recurring issue should also be fixed now. Zoom's scheduling feature has some bugs.

[2018-12-11 13:57] zachferland commented on #38
Going to join, mostly want to ask about payload encryption support in ipfs-log - https://github.com/orbitdb/ipfs-log/issues/191

[2018-12-12 06:26] haadcode commented on #38
Notes here https://github.com/orbitdb/welcome/blob/master/meeting-notes/2018/2018.12.11.md.

Thanks everyone for joining!

[2018-12-12 06:26] #38 closed, assigned to nobody

[2018-12-12 06:28] haadcode commented on #9
We have a logo and the assets are here https://github.com/orbitdb/logo.

Thank you @pabslabs and everyone for input! 🎉

[2018-12-12 06:28] #9 closed, assigned to nobody

[2018-12-12 07:21] eefahy commented on #11
Unfortunately the process of changing the domain in gandi has changed. I need the contact information for the new owner:
- type of contact (choice of individual, company, association, public body)
- Legal Name of the Org
- First Name
- Family Name
- Country
- Street and number
- City
- Phone
- Email

If you'd rather not forward me that info then I can give you the transfer auth key and you could i

[2018-12-13 21:30] RichardLitt opened #42 "OrbitDB Community Call: January 8th!"
### [Click here for the agenda and notes.](https://hackmd.io/E1EiYggYTDaU5MQH0t4Bgw#)

This will be the next Orbit community call, on January 8th at 1400UTC! Drop your agenda items here or in the notes. **Note that this is an hour later than the last call.**

Add this event to your calendar using [this link](https://calendar.google.com/event?action=TEMPLATE&tmeid=Xzg0cmowZTloNjRwMzZiOW42ZDBqMGI5az

[2018-12-13 21:30] RichardLitt commented on #9
Edit: Wrong issue.

Thanks, @haadcode. :) And thank you, Pablo!

[2018-12-13 21:31] RichardLitt commented on #38
Thanks @haadcode.

I opened an issue about scheduling the next call, as the next Tuesday is Christmas. Join in here: https://github.com/orbitdb/welcome/issues/42.

[2018-12-14 06:30] haadcode commented on #42
I feel there's a good chance very few will be present on 25th or 1st (I personally won't make it). I'd propose we skip the next one and get back to regular programming on Jan 8th.

[2018-12-14 13:52] RichardLitt commented on #42
Well, we wouldn't be able to have it on a Tuesday at all, yes. We could move to a Thursday or Friday. But I think that the 8th makes the most sense, too.

[2018-12-14 14:22] aphelionz commented on #42
I'm happy to do it on the 8th.

[2018-12-14 19:11] pabslabs commented on #9
Thank you! Always a pleasure to be part of great teams and projects like this one!
Let me know if you need to design more stuff! 😄

[2018-12-17 16:18] RichardLitt commented on #10
We have this. :)

[2018-12-17 16:18] #10 closed, assigned to nobody

[2018-12-17 16:19] RichardLitt commented on #10
For future reference: We talked about this at length in the Community calls, and in #31.

[2018-12-17 16:19] RichardLitt commented on #17
At the moment, it is actually easier just to use a human to do this.

[2018-12-17 16:19] #17 closed, assigned to nobody

[2018-12-17 16:20] RichardLitt commented on #42
Let's do it on the 8th, then. I'll edit the first post to include the information.

[2018-12-17 16:23] RichardLitt commented on #4
@haadcode Can I help with any blockers for this?

[2018-12-17 16:23] RichardLitt commented on #14
We have one, at the moment. Closing this. :) Thanks all!

[2018-12-17 16:23] #14 closed, assigned to nobody

[2018-12-17 16:24] RichardLitt commented on #27
Can I get some feedback from @orbitdb/maintainers for this?

[2018-12-18 16:34] haadcode commented on #11
@eefahy thanks for looking into it! Sounds like sensitive information needs to be exchanged, so let's do that in private. Can you reach out to me at haadcode at orbitdb.org to coordinate?

[2018-12-18 16:39] haadcode commented on #4
All the ones that are relevant have been transferred. orbit-db-channelstore and orbit-db-http-server can be left where they are, they're not in use anywhere and we don't plan to use them in OrbitDB.

I don't think we need to do anything with the repos of other users.

What else is needed here to finish/close the issue?

[2018-12-18 17:05] RichardLitt commented on #4
Cool, thanks for the update. Nothing was needed but your go ahead. :)

[2018-12-18 17:05] #4 closed, assigned to haadcode

[2018-12-18 17:13] aphelionz commented on #4
@haadcode one last note on this - it appears somebody took the code from `orbit-db-http-server` and tried to add an HTTP server to the CLI. Did you see this PR?

https://github.com/orbitdb/orbit-db-cli/pull/22

[2018-12-18 17:22] haadcode commented on #4
Did not see that but replied, thanks for the ping!

[2019-01-08 14:23] haadcode commented on #42
Notes https://github.com/orbitdb/welcome/blob/master/meeting-notes/2019/2019.01.08.md

[2019-01-08 14:23] #42 closed, assigned to nobody

[2019-01-08 14:29] RichardLitt opened #45 "OrbitDB Community Call: January 22nd"
### [Click here for the agenda and notes.](https://hackmd.io/yBroHD2wR86iwA3cLx1WUQ#)

This will be the next Orbit community call, on January 22nd at 1400UTC! Drop your agenda items here or in the notes. **Note that this is an hour later than the last call.**

Add this event to your calendar using [this link](https://calendar.google.com/event?action=TEMPLATE&tmeid=Xzg0cmowZTloNjRwMzZiOW42ZDBqMGI5a

[2019-01-16 20:11] RichardLitt opened #46 "Remove dates from Licenses"
The [Node Board](https://github.com/nodejs/TSC/issues/195#issuecomment-374443984) just pointed out that dates do not have any legal meaning in the License files. We can get rid of a non-negligible bit of admin by just removing them in the files, and in the Readme license section. What do you think?

[2019-01-16 20:12] RichardLitt commented on #46
I'm following up with my legal to make sure.

[2019-01-16 21:07] RichardLitt commented on #46
Hmm. Talked to my lawyer. Going to adopt this policy, as it seems best:

- Don't remove dates already in notices.
- Don't bother adding dates in new notices.
- Don't bother updating years in notices.

I'll add this to the global contribute, as it may come up in other repos.

[2019-01-16 21:52] aphelionz commented on #46
This is interesting! I'm not questioning it but what's the rationale? Are the dates from the year carried forward automatically?

[2019-01-16 21:55] RichardLitt commented on #46
Basically, the license doesn't need it, as far as I can tell. The license lasts for what, 75 years? And any updates made to the code probably restart the clock given the license, anyway.

[2019-01-29 09:02] RichardLitt opened #48 "OrbitDB Community Call: February 5th"
### [Click here for the agenda and notes.](https://hackmd.io/nCp-hk8KTfOlHQRabeGgjg#)

This will be the next Orbit community call, on February 5th at 1400UTC! Drop your agenda items here or in the notes. **Note that this is an hour later than the last call.**

Add this event to your calendar using [this link](https://calendar.google.com/event?action=TEMPLATE&tmeid=Xzg0cmowZTloNjRwMzZiOW42ZDBqMGI5a

[2019-01-29 09:02] #45 closed, assigned to nobody

[2019-01-30 10:20] #46 closed, assigned to RichardLitt

[2019-02-05 08:06] hacker-DOM commented on #48
I'll be joining today. We're trying to build a decentralized education system. It's called Solvio (https://solvio.discourse.group). I'd love to discuss the current state of the art when it comes to public databases secured by cryptography, and whether it's at a level where it can be used in production for a consumer app. Looking forward to it!

[2019-02-05 14:32] RichardLitt commented on #48
Closed in eafcd803e0dacdfa9456f932855ba3cc5012f112. Thanks all.

[2019-02-05 14:32] #48 closed, assigned to nobody

[2019-02-05 14:47] RichardLitt opened #49 "OrbitDB Community Call: February 19th"
### [Click here for the agenda and notes.](https://hackmd.io/eTF3S13FTHacA9qyIWtpYw#)

This will be the next Orbit community call, on February 19th at 1400UTC! Drop your agenda items here or in the notes. **Note that this is an hour later than the last call.**

Add this event to your calendar using [this link](https://calendar.google.com/event?action=TEMPLATE&tmeid=Xzg0cmowZTloNjRwMzZiOW42ZDBqMGI5

[2019-02-12 20:52] RichardLitt commented on #11
I believe this can be closed, now. :)

[2019-02-12 20:52] #11 closed, assigned to haadcode

[2019-02-19 14:45] haadcode commented on #49
Notes here https://github.com/orbitdb/welcome/pull/50 and copy-pasted here:

---

# OrbitDB Community Call February 19th

- **Moderator:** @RichardLitt
- **Notetaker:** @haadcode
- **Attendees:**
- @RichardLitt
- @Shamb0t
- @Haadcode
- @Schwartz10

## Moderator checklist

- [ ] Ensure that the moderator last week is the notetaker, or that someone else has volunteered
- [ ] Call for additional agen

[2019-02-19 18:49] RichardLitt commented on #49
Thanks, @haadcode.

[2019-02-19 18:49] #49 closed, assigned to nobody

[2019-02-19 18:51] RichardLitt opened #51 "OrbitDB Community Call: March 5th"
### [Click here for the agenda and notes.](https://hackmd.io/4X2MoxYzQ2q0htTuYB-NJA#)

This will be the next Orbit community call, on March 5th at 1400UTC! Drop your agenda items here or in the notes. **Note that this is an hour later than the last call.**

Add this event to your calendar using [this link](https://calendar.google.com/event?action=TEMPLATE&tmeid=Xzg0cmowZTloNjRwMzZiOW42ZDBqMGI5azhr

[2019-02-27 19:57] RichardLitt commented on #27
Decided to instead go with #52. Closing this as non-actionable.

[2019-02-27 19:57] #27 closed, assigned to nobody

[2019-03-04 21:54] gritzko commented on #51
Hi Richard!
I am working on this project http://replicated.cc/swarm/
It would be interesting to talk!

[2019-03-05 12:22] RichardLitt commented on #51
Added it to the agenda. Looking forward to it!

[2019-03-12 16:56] RichardLitt commented on #51
Closed in c01fc30d3e42d84fb6ee21b1b57e29b917c179a8. Thanks, @aphelionz, for taking notes.

[2019-03-12 16:57] #51 closed, assigned to nobody

[2019-03-12 17:12] RichardLitt opened #53 "OrbitDB Community Call: March 19th"
### [Click here for the agenda and notes.](https://hackmd.io/5c2vLeLVTiS6G0G8JP6T4w)

This will be the next Orbit community call, on March 19th at 1400UTC! Drop your agenda items here or in the notes. **Note that this is an hour later than the last call.**

Add this event to your calendar using [this link](https://calendar.google.com/event?action=TEMPLATE&tmeid=Xzg0cmowZTloNjRwMzZiOW42ZDBqMGI5azhr

[2019-03-26 13:20] RichardLitt commented on #53
Closed in cc58fd6fc9582bc0f0ffb1f9e27e31aed4c2a59a.

[2019-03-26 13:20] #53 closed, assigned to nobody

[2019-03-26 13:22] RichardLitt opened #54 "OrbitDB Community Call: April 2nd"
### [Click here for the agenda and notes.](https://hackmd.io/tX88txFDSbCXAKsIZWW5FA#)

This will be the next Orbit community call, on April 2nd at 1400UTC! Drop your agenda items here or in the notes. **Note that this is an hour later than the last call.**

Add this event to your calendar using [this link](https://calendar.google.com/event?action=TEMPLATE&tmeid=Xzg0cmowZTloNjRwMzZiOW42ZDBqMGI5azhr

[2019-04-02 14:18] haadcode commented on #54
Notes:

# OrbitDB Community Call April 2nd

- **Moderator:** @RichardLitt
- **Notetaker:** @haadcode
- **Attendees:**
    - @aphelionz
    - @vvp
    - @shamb0t
    - @haadcode
    - @RichardLitt
    - @JaniAnttonen
    - @oed
    - Abhi
    - @HaydenYoung

## Agenda
_General discussions, decisions, etc._

- OrbitDB 0.20.0 release, release candidate (@haadcode, 5mins)
    - 0.20.0 RC out! `npm ins

[2019-04-02 15:15] RichardLitt opened #57 "OrbitDB Community Call: April 16th"
### [Click here for the agenda and notes.](https://hackmd.io/s9GGDCamTGGKtF5YGYAr0w#)

This will be the next Orbit community call, on April 16 at 1400UTC! Drop your agenda items here or in the notes. **Note that this is an hour later than the last call.**

Add this event to your calendar using [this link](https://calendar.google.com/event?action=TEMPLATE&tmeid=Xzg0cmowZTloNjRwMzZiOW42ZDBqMGI5azhrc

[2019-04-02 15:16] RichardLitt commented on #54
Thanks all!

[2019-04-02 15:16] #54 closed, assigned to nobody

[2019-04-02 15:21] aphelionz commented on #57
Is the calendar event meant to be 9am EST?

[2019-04-02 15:28] RichardLitt commented on #57
Yes. That is 10am EDT, which it currently is.

[2019-04-16 14:29] #57 closed, assigned to nobody

[2019-04-16 15:45] RichardLitt opened #58 "OrbitDB Community Call: May 14th Community Call"
### [Click here for the agenda and notes.](https://hackmd.io/qvY0xil8SSiqEszpL7QraQ)

This will be the next Orbit community call, on May 14 at 1400UTC! Drop your agenda items here or in the notes. **Note that this is an hour later than the last call.**

Add this event to your calendar using [this link](https://calendar.google.com/event?action=TEMPLATE&tmeid=Xzg0cmowZTloNjRwMzZiOW42ZDBqMGI5azhrc2tj

[2019-04-25 23:17] keepsimple1 opened #59 "Question about replication model"
Hi,

This is a question, not a bug or real issue. If this is not the best place to ask questions, please let me know.

I wanted to understand the replication model used / supported by orbit-db.  e.g.
- Can I set a replication factor?  (e.g. have exact 2 copies for every data?) .
- Does orbit-db allow running only on a single node (maybe only for a short time when other nodes are down) and still al

[2019-04-26 01:36] aphelionz commented on #59
Hi @keepsimple1. Thanks for opening the issue.

1. Right now any peer that connects to any database address will replicate the data, so it doesnt necessarily happen automatically based on creation, i.e. it doesn't automatically propogate outward to the network. You can control this by setting up a "pinning service" of your own. Several apps do this and you can see an example here. https://github.c

[2019-04-26 01:37] #59 closed, assigned to nobody

[2019-05-28 13:26] #58 closed, assigned to nobody

[2019-05-28 13:27] aphelionz opened #61 "OrbitDB Community Call: May 28 Community Call"
### [Click here for the agenda and notes.](https://hackmd.io/FgnlfleWS9Gv8F3lT1szHg)

This will be the next Orbit community call, on May 14 at 1400UTC! Drop your agenda items here or in the notes.

Add this event to your calendar using [this link](https://calendar.google.com/event?action=TEMPLATE&tmeid=Xzg0cmowZTloNjRwMzZiOW42ZDBqMGI5azhrc2tjYjlwOG9zM2FiYTM4a3I0OGVhMTc0cGo2ZGhtOG9fMjAxODEwMDJUMTMw

[2019-05-28 13:51] RichardLitt commented on #61
Thanks, @aphelionz 	:)

[2019-05-28 14:26] #61 closed, assigned to nobody

[2019-05-29 01:57] RichardLitt opened #62 "OrbitDB Community Call: June 11th, 2019"
### [Click here for the agenda and notes.](https://hackmd.io/Ze1aOGZrR2WCWENvPNSO_A)

This will be the next Orbit community call, on June 11th at 1400UTC! Drop your agenda items here or in the notes.

Add this event to your calendar using [this link](https://calendar.google.com/event?action=TEMPLATE&tmeid=Xzg0cmowZTloNjRwMzZiOW42ZDBqMGI5azhrc2tjYjlwOG9zM2FiYTM4a3I0OGVhMTc0cGo2ZGhtOG9fMjAxODEwMDJUM

[2019-05-30 19:03] RichardLitt opened #63 "OrbitDB Meetup in Berlin: June 11th"
Hey! So, there's been some talk [on Gitter](https://gitter.im/orbitdb/Lobby) and elsewhere of organizing an OrbitDB Meetup in Berlin around June 10th. Specifically, it would be a meetup involving a few short presentations, with a focus on socializing and meeting other people working on OrbitDB.

In the interest of being as open as possible, let this thread be the official planning thread. 💃

##  M

[2019-05-30 19:12] aphelionz commented on #63
Should it be a shorter retreat, maybe an extended weekend trip? Travel Friday, socialize Saturday + Sunday, main even Monday and travel home Tuesday?

[2019-05-30 19:13] RichardLitt commented on #63
Ah: There's a p2p meetup on the 11th, so perhaps we could have it on either side of that. The 10th or the 12th would work, too. If people like, I could set up a GitHub poll.

[2019-05-30 19:15] RichardLitt commented on #63
That sounds pretty awesome to me, too. Maybe the 14th-17th or so? Or were you thinking the week before?

[2019-05-30 19:23] aphelionz commented on #63
I think my very pregnant partner would prefer the week before :sweat_smile:

[2019-05-31 04:54] shamb0t commented on #63
I have another engagement on the 13th but can make June 10-12

[2019-05-31 05:25] haadcode commented on #63
I can make it on any of those dates, 10th would work the best 👍 Will give a talk or two depending on the rest of the agenda, and happy to also adapt the talks to what people would like to hear (about OrbitDB) 😃

[2019-05-31 05:40] sirfumblestone commented on #63
I can make it anything between 10-13th of June.

[2019-05-31 14:06] RichardLitt commented on #63
Sweet. Seems like the 10th would be best for everyone. @aphelionz We'll likely be in the city for a bit before hand, but I think the weekend events are better left unorganized to allow for organic movement.

I'm working on finding a place for a meetup on the 10th.

[2019-05-31 16:41] aphelionz commented on #63
Cool. If it were the 10th I would plan on coming in that Friday before and leaving the day after.

[2019-06-03 06:27] s4si commented on #63
I can start looking at options for accommodation, so regarding this;
1. Does someone (besides Mark and Richard) want to fly in or out other dates than the 10th and 11th?
2. Do we have a preference regarding the area?
3. As we have had one retreat in Berlin in the past, did you have an excellent experience and would like to stay in the same hotel? If so, what hotel was that? :slightly_smiling_face:

[2019-06-04 07:51] hsanjuan commented on #63
11th is better for me.. in the 10th I could only come around 20h. Anyways see you around!

[2019-06-04 15:14] RichardLitt commented on #63
Turns out the 11th is better for all of us, @hsanjuan - the 10th appears to be a public holiday, and we're having some issues finding a space.

So! I've talked to all of the people above, I believe, and switching it to the 11th seems to make the most sense. I'll change the title now. :)

[2019-06-05 20:25] RichardLitt commented on #63
Alright! We now have a venue. Thank you, Bigchain. I look forward to meeting you all at Chausseestr. 19, 10115 Berlin.

Still looking around for talks. :)

[2019-06-06 04:23] haadcode commented on #63
I'll give a talk about the history, present and future of OrbitDB, an overview of where we are as a technology and community :) May add another quick talk on the details of the future plans, depending on if available slots.

[2019-06-06 14:05] RichardLitt commented on #63
Note to all: I looked into setting up a Meetup and an Eventbrite, and I think the overhead and cost is largely unnecessary for us. If you are interested in coming, this is the only attendee list. Share this issue around. :)

[2019-06-07 12:40] hsanjuan commented on #63
@RichardLitt if you'd like to use the ipfs community meetup group for this let me know

[2019-06-07 12:58] aphelionz commented on #63
I've also agreed to do a talk but am struggling with content. What do folks think would be compelling? I can tailor the content around that feedback

[2019-06-08 00:43] RichardLitt commented on #63
Hector - I would love that! Could you send me an email to get the details?

On Friday, June 7, 2019, Mark Robert Henderson <notifications@github.com>
wrote:

--
Richard | @richlitt <https://twitter.com/richlitt> | burntfen.com
<http://www.burntfen.com>

[2019-06-08 10:01] hsanjuan commented on #63
@RichardLitt I don't know your email so wrote you on twitter.

[2019-06-08 14:49] RichardLitt commented on #63
Thanks @hsanjuan. Posted! https://www.meetup.com/berlin-ipfs/events/262150765/

@aphelionz An introduction to OrbitDB might be a nice idea, in case anyone is new.

[2019-06-11 14:14] Jon-Biz commented on #62
Is this still an active call? Doesn't seem to be anyone around right now.

[2019-06-11 14:46] shamb0t commented on #62
@Jon-Biz sincere apologies! We weren't able to make it today as we're preparing for the Berlin [meetup](https://github.com/orbitdb/welcome/issues/63). Next call will be in 2 weeks on June 25th.

[2019-06-11 18:45] RichardLitt commented on #62
Sorry Jon! If you jump on the Gitter we'd be happy to talk about stuff async. I was organizing the meetup today and wasn't able to join as I thought I would be able to.

[2019-06-11 18:45] #62 closed, assigned to nobody

[2019-06-11 18:46] RichardLitt opened #64 "OrbitDB Community Call: June 25, 1400 UTC"
### [Click here for the agenda and notes.](https://hackmd.io/Ze1aOGZrR2WCWENvPNSO_A)

This will be the next Orbit community call, on June 25th at 1400UTC! Drop your agenda items here or in the notes.

Add this event to your calendar using [this link](https://calendar.google.com/event?action=TEMPLATE&tmeid=Xzg0cmowZTloNjRwMzZiOW42ZDBqMGI5azhrc2tjYjlwOG9zM2FiYTM4a3I0OGVhMTc0cGo2ZGhtOG9fMjAxODEwMDJUM

[2019-07-09 14:26] aphelionz commented on #64
@RichardLitt This can be closed and the July 23 ticket can be created. Also reminder to switch to hangouts

[2019-07-10 17:36] #64 closed, assigned to nobody

[2019-07-10 17:37] RichardLitt commented on #63
Thank you everyone for coming. :)

[2019-07-10 17:37] #63 closed, assigned to nobody

[2019-07-10 17:43] RichardLitt opened #66 "OrbitDB Community Call: July 24, 1400 UTC Community Call"
### [Click here for the agenda and notes.](https://hackmd.io/o6ZH7KmiQ_mw_XLb-3eqYg)

This will be the next Orbit community call, on July 24 at 1400UTC! Drop your agenda items here or in the notes.

Due to Zoom privacy issues, we are now switching to using Google Hangouts for the time being.

Add this event to your calendar using [this link](https://calendar.google.com/event?action=TEMPLATE&tmeid=

[2019-07-10 17:44] RichardLitt commented on #64
Thanks @aphelionz. Done.

[2019-07-23 14:21] #66 closed, assigned to nobody

[2019-07-23 14:22] RichardLitt opened #67 "OrbitDB Community Call: August 6 1400 UTC"
### [Click here for the agenda and notes.](https://hackmd.io/o6ZH7KmiQ_mw_XLb-3eqYg)

This will be the next Orbit community call, on August 6 at 1400UTC! Drop your agenda items here or in the notes.

Due to Zoom privacy issues, we are now switching to using Google Hangouts for the time being.

Add this event to your calendar using [this link](https://calendar.google.com/event?action=TEMPLATE&tmeid

[2019-07-23 15:14] aphelionz opened #68 "Repo Health Checks"
It would be great to have a matrix of all of our repos and their status in terms of code, readme, docs, tests, CI ,etc

[2019-08-08 12:34] #67 closed, assigned to nobody

[2019-08-08 12:38] RichardLitt opened #70 "OrbitDB Community Call: August 20, 1400UTC"
### [Click here for the agenda and notes.](https://hackmd.io/XK0FetiIR0irN8agmCbUjQ#)

This will be the next Orbit community call, on August 20 at 1400UTC! Drop your agenda items here or in the notes.

Add this event to your calendar using [this link](https://calendar.google.com/event?action=TEMPLATE&tmeid=Xzg0cmowZTloNjRwMzZiOW42ZDBqMGI5azhrc2tjYjlwOG9zM2FiYTM4a3I0OGVhMTc0cGo2ZGhtOG9fMjAxODEwMDJU

[2019-08-08 12:42] RichardLitt commented on #70
Note: I've switched back to using Zoom. :)

[2019-08-20 22:09] Frijol commented on #70
Did this meeting happen? I'm interested in learning more about OrbitDB

[2019-08-20 22:40] aphelionz commented on #70
@Frijol Yes, it did - the next one will be Tuesday, Sept 03 at the same time of day

[2019-08-30 22:55] danielhumgon opened #72 "Basic example of chat functionality using OrbitDB"
https://twitter.com/haadcode/status/1166592215134720007

This is a simple node.js example of how to set up basic chat functionality using OrbitDB

Link to the repo: https://github.com/danielhumgon/e2e-orbitDB-chat-app-prototype

[2019-08-30 23:05] #72 closed, assigned to nobody

[2019-08-30 23:36] aphelionz commented on #72
Meant to be closed? Seems cool

[2019-09-03 10:20] #70 closed, assigned to nobody

[2019-09-03 10:22] RichardLitt opened #73 "OrbitDB Community Call: Tuesday September 3rd at 1400UTC"
### [Click here for the agenda and notes.](https://hackmd.io/JILDlvf1RaiIgAWpNRGGFA?both)

This will be the next Orbit community call, on September 3rd at 1400UTC! Drop your agenda items here or in the notes.

Add this event to your calendar using [this link](https://calendar.google.com/event?action=TEMPLATE&tmeid=Xzg0cmowZTloNjRwMzZiOW42ZDBqMGI5azhrc2tjYjlwOG9zM2FiYTM4a3I0OGVhMTc0cGo2ZGhtOG9fMjAx

[2019-09-03 10:23] RichardLitt commented on #70
@Frijol The call is today in a few hours. :) You can also jump on [the Gitter chatroom](https://gitter.im/orbitdb/Lobby) to ask questions.

[2019-09-11 20:00] RichardLitt commented on #68
I've got this working using @mntnr/dashboard. What other specific checks would you like? Or should we overhaul this?

![Screen Shot 2019-09-11 at 15 58 17](https://user-images.githubusercontent.com/910753/64730409-46934c80-d4ad-11e9-934f-fa8800f7e570.png)

[2019-09-11 20:08] aphelionz commented on #68
Awesome! I'd love to see checks for the existence of:

- a non-default "npm test" entry in package.json
- a "npm test:browser" entry in package.json
- a `benchmarks` folder
- a `examples` folder

Also:
- current CI status (and a big red X if no `.circleci/config.yml` file exists)

Thanks for doing this!

[2019-09-11 20:08] RichardLitt opened #76 "OrbitDB Community Call: Tuesday September 17th at 1400UTC"
### [Click here for the agenda and notes.](https://hackmd.io/TNkT5WWoSV6MAn9DAKvkTA?both)

This will be the next Orbit community call, on 09.17 at 1400UTC! Drop your agenda items here or in the notes.

Add this event to your calendar using [this link](https://calendar.google.com/event?action=TEMPLATE&tmeid=Xzg0cmowZTloNjRwMzZiOW42ZDBqMGI5azhrc2tjYjlwOG9zM2FiYTM4a3I0OGVhMTc0cGo2ZGhtOG9fMjAxODEwMDJU

[2019-09-11 20:08] #73 closed, assigned to nobody

[2019-09-18 20:23] RichardLitt opened #79 "OrbitDB Community Call: Tuesday October 1st at 1400UTC"
### [Click here for the agenda and notes.](https://hackmd.io/IiShzIkBT9KK3BBD4mPYuQ?both)

This will be the next Orbit community call, on October 1st at 1400UTC! Drop your agenda items here or in the notes.

Add this event to your calendar using [this link](https://calendar.google.com/event?action=TEMPLATE&tmeid=Xzg0cmowZTloNjRwMzZiOW42ZDBqMGI5azhrc2tjYjlwOG9zM2FiYTM4a3I0OGVhMTc0cGo2ZGhtOG9fMjAxOD

[2019-09-18 20:23] #76 closed, assigned to nobody

[2019-09-24 16:01] RichardLitt opened #80 "Add bridged badges to all repositories with Gitter badge"
See https://github.com/orbitdb/orbit-db/issues/690#event-2658633002.

Example:

[code]

[2019-10-01 14:33] RichardLitt opened #81 "OrbitDB Community Call: October 29 1400UTC"
### [Click here for the agenda and notes.](https://hackmd.io/opPthzxmTOOS42RdJSJBpw?both)

This will be the next Orbit community call, on October 29 at 1400UTC! Drop your agenda items here or in the notes.

Add this event to your calendar using [this link](https://calendar.google.com/event?action=TEMPLATE&tmeid=Xzg0cmowZTloNjRwMzZiOW42ZDBqMGI5azhrc2tjYjlwOG9zM2FiYTM4a3I0OGVhMTc0cGo2ZGhtOG9fMjAxODE

[2019-10-01 14:33] #79 closed, assigned to nobody

[2019-10-01 14:33] RichardLitt commented on #80
This is pretty much done.

[2019-10-01 14:33] #80 closed, assigned to nobody

[2019-10-29 14:17] #81 closed, assigned to nobody

[2019-10-29 14:18] aphelionz opened #82 "OrbitDB Community Call: November 12 2019 1400 UTC"
### [Click here for the agenda and notes.](https://hackmd.io/opPthzxmTOOS42RdJSJBpw?both)

This will be the next Orbit community call, on November 12 at 1400UTC! Drop your agenda items here or in the notes.

Add this event to your calendar using [this link](https://calendar.google.com/event?action=TEMPLATE&tmeid=Xzg0cmowZTloNjRwMzZiOW42ZDBqMGI5azhrc2tjYjlwOG9zM2FiYTM4a3I0OGVhMTc0cGo2ZGhtOG9fMjAxOD

[2019-10-30 12:55] RichardLitt commented on #82
Thanks, @aphelionz. :)

[2019-11-15 14:09] RichardLitt opened #84 "OrbitDB Community Call: November 26, 2019 at 1400 UTC"
### [Click here for the agenda and notes.](https://hackmd.io/hTM9GlyNTO2vtV3uPo-cVA?both)

This will be the next Orbit community call, on Nov. 26 at 1400UTC! Drop your agenda items here or in the notes.

Add this event to your calendar using [this link](https://calendar.google.com/event?action=TEMPLATE&tmeid=Xzg0cmowZTloNjRwMzZiOW42ZDBqMGI5azhrc2tjYjlwOG9zM2FiYTM4a3I0OGVhMTc0cGo2ZGhtOG9fMjAxODEwMD

[2019-11-15 14:09] #82 closed, assigned to nobody

[2019-11-26 14:25] #84 closed, assigned to nobody

[2019-11-26 14:29] RichardLitt opened #85 "OrbitDB Community Call: December 10th, 2019 at 1400 UTC"
### [Click here for the agenda and notes.](https://hackmd.io/SUt9DuY6RS6SzDEP_Nud0w?both)

This will be the next Orbit community call, on Dec 10, 2019 at 1400UTC! Drop your agenda items here or in the notes.

Add this event to your calendar using [this link](https://calendar.google.com/event?action=TEMPLATE&tmeid=Xzg0cmowZTloNjRwMzZiOW42ZDBqMGI5azhrc2tjYjlwOG9zM2FiYTM4a3I0OGVhMTc0cGo2ZGhtOG9fMjAxO

[2019-12-10 14:18] #85 closed, assigned to nobody

[2019-12-10 14:19] RichardLitt opened #86 "OrbitDB Community Call: January 7th, 2020 at 1400 UTC Community Call"
### [Click here for the agenda and notes.](https://hackmd.io/7d2clpvuS6Wil31BFU1jBg?both)

This will be the next Orbit community call, on January 7th at 1400UTC! Drop your agenda items here or in the notes.

Add this event to your calendar using [this link](https://calendar.google.com/event?action=TEMPLATE&tmeid=Xzg0cmowZTloNjRwMzZiOW42ZDBqMGI5azhrc2tjYjlwOG9zM2FiYTM4a3I0OGVhMTc0cGo2ZGhtOG9fMjAxOD

[2020-01-07 14:45] #86 closed, assigned to nobody

[2020-01-21 13:26] RichardLitt opened #87 "OrbitDB Community Call: January 21"
### [Click here for the agenda and notes.](https://hackmd.io/YtDa38xpQ-WzET-6ouXiJQ?both)

This will be the next Orbit community call, on January 21st at 1400UTC! Drop your agenda items here or in the notes.

Add this event to your calendar using [this link](https://calendar.google.com/event?action=TEMPLATE&tmeid=Xzg0cmowZTloNjRwMzZiOW42ZDBqMGI5azhrc2tjYjlwOG9zM2FiYTM4a3I0OGVhMTc0cGo2ZGhtOG9fMjAxO

[2020-01-21 16:04] RichardLitt opened #88 "OrbitDB Community Call: February 4th at 1400UTC"
### [Click here for the agenda and notes.](https://hackmd.io/YtDa38xpQ-WzET-6ouXiJQ?both)

This will be the next Orbit community call, on February 4th at 1400UTC! Drop your agenda items here or in the notes.

Add this event to your calendar using [this link](https://calendar.google.com/event?action=TEMPLATE&tmeid=Xzg0cmowZTloNjRwMzZiOW42ZDBqMGI5azhrc2tjYjlwOG9zM2FiYTM4a3I0OGVhMTc0cGo2ZGhtOG9fMjAxO

[2020-01-21 16:04] #87 closed, assigned to nobody

[2020-02-04 14:48] #88 closed, assigned to nobody

[2020-02-04 14:49] RichardLitt opened #89 "OrbitDB Community Call: February 18"
### [Click here for the agenda and notes.](https://hackmd.io/RFv57Lr-SYq5bjc1NyBv4Q?both)

This will be the next Orbit community call, on February 18 at 1400UTC! Drop your agenda items here or in the notes.

Add this event to your calendar using [this link](https://calendar.google.com/event?action=TEMPLATE&tmeid=Xzg0cmowZTloNjRwMzZiOW42ZDBqMGI5azhrc2tjYjlwOG9zM2FiYTM4a3I0OGVhMTc0cGo2ZGhtOG9fMjAxOD

[2020-02-18 14:20] RichardLitt opened #90 "OrbitDB Community Call: March 3rd"
### [Click here for the agenda and notes.](https://hackmd.io/SXLBUsksRYmg5VrmfVzJ4A?both)

This will be the next Orbit community call, on March 3rd at 1400UTC! Drop your agenda items here or in the notes.

Add this event to your calendar using [this link](https://calendar.google.com/event?action=TEMPLATE&tmeid=Xzg0cmowZTloNjRwMzZiOW42ZDBqMGI5azhrc2tjYjlwOG9zM2FiYTM4a3I0OGVhMTc0cGo2ZGhtOG9fMjAxODEw

[2020-02-18 14:20] RichardLitt commented on #89
Thanks, all!

[2020-02-18 14:20] #89 closed, assigned to nobody

[2020-03-03 14:09] #90 closed, assigned to nobody

[2020-03-17 14:13] RichardLitt opened #91 "OrbitDB Community Call: March 31st, April 14, April 28"
### [Click here for the agenda and notes.](https://hackmd.io/j_jxtTSwRU2_RwbBUjDzpQ?both)

We run regular OrbitDB community calls. The next ones will be on:
- March 31st
- April 14
- April 28

All of these are held at 1400UTC! Drop your agenda items here or in the notes.

Add this event to your calendar using [this link](https://calendar.google.com/event?action=TEMPLATE&tmeid=Xzg0cmowZTloNjRwMzZiO

[2020-12-10 02:03] #91 closed, assigned to nobody

[2021-03-01 16:09] realsando opened #94 "Could not validate signature"
We are running some test with OrbitDB.
Everything seems to be running fine, but after a bit of load testing with different use case we often run in the error :
[code]

It seems to happen quite randomly, so I haven't figured out the clear way to reproduce this issue. This seems to be linked to internal signature verification mechanism within orbitdb. Any idea wherer this might come from ?

[2021-03-02 12:22] #94 closed, assigned to nobody

[2021-04-19 13:18] CSDUMMI opened #96 "Documentation compilation"
Currently, the Documentation of OrbitDB is hosted on GitHub
in the various Repositories.

But this makes them very hard to search and reference quickly.

I propose, that we compile all of these documentation
files into a single easy to reference repository, that can then be put
up in a cook book.

Either by hand once or via a script.

TODO:
- [x] Copy API.md and GUIDE.md
- [ ]  Merge `orbit-db` RE

[2021-04-19 13:21] CSDUMMI commented on #96
After we made this compilation, the documentation in the repositories READMEs are discontinued
and prefaced with a link to the relevant pages in the Documentations Repository/Page.

[2021-04-19 17:09] aphelionz commented on #96
I think we should make a new Section of the Field Manual called "Cookbook" after the Tutorial https://github.com/orbitdb/field-manual

[2021-04-19 17:11] CSDUMMI commented on #96
That would be a position, that people would expect it to be, wouldn't they?

Is the Field Manual already compiled into a web page?

If so, this would be the way that I would want this to go.

[2021-04-19 17:13] CSDUMMI commented on #96
But I also want to move the different README Files of all the Repos into the API.md file.

[2021-04-19 18:18] aphelionz commented on #96
No, but it could be. Moving everything to API.md would be a good step in the right direction too.

[2021-05-06 08:02] CSDUMMI commented on #68
Can this be closed?

[2021-05-06 14:16] RichardLitt commented on #68
I'm unlikely to start this work up again. But I think it should stay open.

[2021-05-06 14:25] aphelionz commented on #68
Is there code for this somewhere? The orbitdb org can fork / inherit it.

[2021-05-07 01:35] RichardLitt commented on #68
Yeah! [Here](https://github.com/mntnr/dashboard). Could be forked. I don't think I had any specialty code written up for OrbitDB.

[2021-05-07 04:03] aphelionz commented on #68
Awesome, I forked it over to the org. Thank you!